<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="page-content">
  <div class="container">

  <h1>Product:</h1>
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{product.image}}"></div>
            </div>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{product.name}}</h3>
            <p class="product-description">{{product.description}}</p>
            <h4 class="price">current price: <span>{{product.price}}</span></h4>
            <div class="action">
              <app-add-to-cart-button [product]="product"></app-add-to-cart-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

