<app-side-bar></app-side-bar>
<app-header></app-header>

<div class="page-content">

  <h1>Products</h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let product of products; let i = index">
      <div class="p2">
        <div class="card mb-3" style="width: 18rem;">
          <img class="card-img-top hoverable" src="{{product.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/app/product/{{product.id}}">{{product.name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">price {{product.price}}</h6>
            <p class="card-text">{{product.description| slice:0:20}}</p>
            <button class="card-link btn btn-info" (click)="addToCart(product)">Add to Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

