<app-side-bar></app-side-bar>
<app-header></app-header>
<div class="page-content">
  <div class="row m-0">
    <div class="col col-6">
      <app-card></app-card>
    </div>
    <div class="col col-6">
      <div class="albert-form">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

          <div class="form-group">
            <label for="username">Voornaam</label>

            <input type="text" [(ngModel)]="user.username"
                   name="username"
                   class="form-control"
                   id="username"
                   placeholder="Gebruikersnaam"
                   required>
          </div>
          <div class="form-group">
            <label for="lastname">Achternaam</label>

            <input type="text"
                   name="username"
                   class="form-control"
                   id="lastname"
                   placeholder="Achternaam"
                   required>
          </div>
          <div class="form-group">
            <label for="addres">addres</label>

            <input type="text"
                   name="addres"
                   class="form-control"
                   id="addres"
                   placeholder="addres"
                   required>
          </div>
          <div class="form-group">
            <label for="huisnummer">Huisnummer</label>

            <input type="text"
                   name="huisnummer"
                   class="form-control"
                   id="huisnummer"
                   placeholder="huisnummer"
                   required>
          </div>
          <button type="submit" class="btn btn-primary">Betalen</button>

        </form>
      </div>
    </div>
  </div>
</div>
